In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st
import requests
import json

In [2]:
btc1m = requests.get('https://ftx.com/api/markets/BTC-PERP/candles?resolution=3600').json()
btc1m = pd.DataFrame(btc1m['result'])
btc1m.drop(['startTime'], axis = 1, inplace=True)
btc1m['time'] = pd.to_datetime(btc1m['time'], unit='ms')
btc1m.set_index('time', inplace=True)
btc_df = btc1m.drop(['high', 'low', 'close', 'volume'],axis=1)
btc_df.rename(columns ={'open':'btcopen'},inplace=True)
btc_df['btc'] = 'BTC'
# btc_df.reset_index(level=0, inplace=True)

btc_df.head(20)

                     btcopen  btc
time
2021-09-05 03:00:00  50155.0  BTC
2021-09-05 04:00:00  49709.0  BTC
2021-09-05 05:00:00  49878.0  BTC
2021-09-05 06:00:00  49728.0  BTC
2021-09-05 07:00:00  49910.0  BTC
2021-09-05 08:00:00  49904.0  BTC
2021-09-05 09:00:00  50217.0  BTC
2021-09-05 10:00:00  50190.0  BTC
2021-09-05 11:00:00  50061.0  BTC
2021-09-05 12:00:00  50258.0  BTC
2021-09-05 13:00:00  50166.0  BTC
2021-09-05 14:00:00  50238.0  BTC
2021-09-05 15:00:00  50295.0  BTC
2021-09-05 16:00:00  50262.0  BTC
2021-09-05 17:00:00  50408.0  BTC
2021-09-05 18:00:00  50352.0  BTC
2021-09-05 19:00:00  50409.0  BTC
2021-09-05 20:00:00  50761.0  BTC
2021-09-05 21:00:00  51780.0  BTC
2021-09-05 22:00:00  51807.0  BTC

In [3]:
sol = requests.get('https://ftx.com/api/markets/SOL/USD/candles?resolution=3600').json()
sol = pd.DataFrame(sol['result'])
sol.drop(['startTime'], axis = 1, inplace=True)
sol['time'] = pd.to_datetime(sol['time'], unit='ms')
sol.set_index('time', inplace=True)
sol_df = sol.drop(['high', 'low', 'close', 'volume'],axis=1)
sol_df['sol'] = 'SOL'
sol_df.rename(columns ={'open':'solopen'},inplace=True)



sol_df.head(20)

                      solopen  sol
time
2021-09-05 03:00:00  142.6675  SOL
2021-09-05 04:00:00  140.6500  SOL
2021-09-05 05:00:00  141.1475  SOL
2021-09-05 06:00:00  139.3000  SOL
2021-09-05 07:00:00  139.8600  SOL
2021-09-05 08:00:00  139.0100  SOL
2021-09-05 09:00:00  140.9975  SOL
2021-09-05 10:00:00  141.0925  SOL
2021-09-05 11:00:00  140.2375  SOL
2021-09-05 12:00:00  140.4250  SOL
2021-09-05 13:00:00  139.8450  SOL
2021-09-05 14:00:00  138.0775  SOL
2021-09-05 15:00:00  137.9675  SOL
2021-09-05 16:00:00  136.3825  SOL
2021-09-05 17:00:00  136.8000  SOL
2021-09-05 18:00:00  136.6525  SOL
2021-09-05 19:00:00  136.6800  SOL
2021-09-05 20:00:00  137.9875  SOL
2021-09-05 21:00:00  138.6950  SOL
2021-09-05 22:00:00  140.5525  SOL

In [4]:
eth = requests.get('https://ftx.com/api/markets/ETH/USD/candles?resolution=3600').json()
eth = pd.DataFrame(eth['result'])
eth.drop(['startTime'], axis = 1, inplace=True)
eth['time'] = pd.to_datetime(eth['time'], unit='ms')
eth.set_index('time', inplace=True)
eth_df = eth.drop(['high', 'low', 'close', 'volume'],axis=1)
eth_df['eth'] = 'ETH'
eth_df.rename(columns ={'open':'ethopen'},inplace=True)

eth_df.head(20)

                     ethopen  eth
time
2021-09-05 03:00:00   3892.9  ETH
2021-09-05 04:00:00   3846.9  ETH
2021-09-05 05:00:00   3873.8  ETH
2021-09-05 06:00:00   3863.9  ETH
2021-09-05 07:00:00   3877.7  ETH
2021-09-05 08:00:00   3873.0  ETH
2021-09-05 09:00:00   3920.2  ETH
2021-09-05 10:00:00   3930.6  ETH
2021-09-05 11:00:00   3922.1  ETH
2021-09-05 12:00:00   3926.5  ETH
2021-09-05 13:00:00   3933.4  ETH
2021-09-05 14:00:00   3930.6  ETH
2021-09-05 15:00:00   3921.3  ETH
2021-09-05 16:00:00   3909.4  ETH
2021-09-05 17:00:00   3917.4  ETH
2021-09-05 18:00:00   3929.2  ETH
2021-09-05 19:00:00   3924.1  ETH
2021-09-05 20:00:00   3929.1  ETH
2021-09-05 21:00:00   3969.9  ETH
2021-09-05 22:00:00   3954.6  ETH

In [5]:
shib = requests.get('https://ftx.com/api/markets/SHIB/USD/candles?resolution=3600').json()
shib = pd.DataFrame(shib['result'])
shib.drop(['startTime'], axis = 1, inplace=True)
shib['time'] = pd.to_datetime(shib['time'], unit='ms')
shib.set_index('time', inplace=True)
shib_df = shib.drop(['high', 'low', 'close', 'volume'],axis=1)
shib_df['shib'] = 'SHIB'
shib_df.rename(columns ={'open':'shibopen'},inplace=True)


shib_df.head(20)

                     shibopen  shib
time
2021-09-05 03:00:00  0.000007  SHIB
2021-09-05 04:00:00  0.000007  SHIB
2021-09-05 05:00:00  0.000007  SHIB
2021-09-05 06:00:00  0.000007  SHIB
2021-09-05 07:00:00  0.000007  SHIB
2021-09-05 08:00:00  0.000007  SHIB
2021-09-05 09:00:00  0.000007  SHIB
2021-09-05 10:00:00  0.000007  SHIB
2021-09-05 11:00:00  0.000007  SHIB
2021-09-05 12:00:00  0.000007  SHIB
2021-09-05 13:00:00  0.000007  SHIB
2021-09-05 14:00:00  0.000007  SHIB
2021-09-05 15:00:00  0.000007  SHIB
2021-09-05 16:00:00  0.000007  SHIB
2021-09-05 17:00:00  0.000007  SHIB
2021-09-05 18:00:00  0.000007  SHIB
2021-09-05 19:00:00  0.000007  SHIB
2021-09-05 20:00:00  0.000007  SHIB
2021-09-05 21:00:00  0.000007  SHIB
2021-09-05 22:00:00  0.000007  SHIB

In [6]:
link = requests.get('https://ftx.com/api/markets/LINK/USD/candles?resolution=3600').json()
link = pd.DataFrame(link['result'])
link.drop(['startTime'], axis = 1, inplace=True)
link['time'] = pd.to_datetime(link['time'], unit='ms')
link.set_index('time', inplace=True)
link_df = link.drop(['high', 'low', 'close', 'volume'],axis=1)
link_df['link'] = 'LINK'
link_df.rename(columns ={'open':'linkopen'},inplace=True)
link_df.head(20)

                     linkopen  link
time
2021-09-05 03:00:00   30.0505  LINK
2021-09-05 04:00:00   29.6075  LINK
2021-09-05 05:00:00   30.0340  LINK
2021-09-05 06:00:00   30.0205  LINK
2021-09-05 07:00:00   30.1720  LINK
2021-09-05 08:00:00   30.1820  LINK
2021-09-05 09:00:00   30.4735  LINK
2021-09-05 10:00:00   30.4005  LINK
2021-09-05 11:00:00   30.3030  LINK
2021-09-05 12:00:00   30.3930  LINK
2021-09-05 13:00:00   30.8860  LINK
2021-09-05 14:00:00   30.7750  LINK
2021-09-05 15:00:00   30.8545  LINK
2021-09-05 16:00:00   31.4730  LINK
2021-09-05 17:00:00   31.9655  LINK
2021-09-05 18:00:00   32.5080  LINK
2021-09-05 19:00:00   32.5195  LINK
2021-09-05 20:00:00   32.8640  LINK
2021-09-05 21:00:00   33.1240  LINK
2021-09-05 22:00:00   33.1520  LINK

In [7]:
doge = requests.get('https://ftx.com/api/markets/DOGE/USD/candles?resolution=3600').json()
doge = pd.DataFrame(doge['result'])
doge.drop(['startTime'], axis = 1, inplace=True)
doge['time'] = pd.to_datetime(doge['time'], unit='ms')
doge.set_index('time', inplace=True)
doge_df = doge.drop(['high', 'low', 'close', 'volume'],axis=1)
doge_df['doge'] = 'DOGE'
doge_df.rename(columns ={'open':'dogeopen'},inplace=True)
doge_df.head(20)

                     dogeopen  doge
time
2021-09-05 03:00:00  0.301922  DOGE
2021-09-05 04:00:00  0.298138  DOGE
2021-09-05 05:00:00  0.299744  DOGE
2021-09-05 06:00:00  0.298626  DOGE
2021-09-05 07:00:00  0.299320  DOGE
2021-09-05 08:00:00  0.298971  DOGE
2021-09-05 09:00:00  0.301698  DOGE
2021-09-05 10:00:00  0.300393  DOGE
2021-09-05 11:00:00  0.299872  DOGE
2021-09-05 12:00:00  0.301395  DOGE
2021-09-05 13:00:00  0.302353  DOGE
2021-09-05 14:00:00  0.304362  DOGE
2021-09-05 15:00:00  0.303226  DOGE
2021-09-05 16:00:00  0.303343  DOGE
2021-09-05 17:00:00  0.306451  DOGE
2021-09-05 18:00:00  0.306249  DOGE
2021-09-05 19:00:00  0.306937  DOGE
2021-09-05 20:00:00  0.309676  DOGE
2021-09-05 21:00:00  0.310945  DOGE
2021-09-05 22:00:00  0.311918  DOGE

In [8]:
ltc = requests.get('https://ftx.com/api/markets/LTC/USD/candles?resolution=3600').json()
ltc = pd.DataFrame(ltc['result'])
ltc.drop(['startTime'], axis = 1, inplace=True)
ltc['time'] = pd.to_datetime(ltc['time'], unit='ms')
ltc.set_index('time', inplace=True)
ltc_df = ltc.drop(['high', 'low', 'close', 'volume'],axis=1)
ltc_df['ltc'] = 'LTC'
ltc_df.rename(columns ={'open':'ltcopen'},inplace=True)
ltc_df.head(20)

                     ltcopen  ltc
time
2021-09-05 03:00:00  217.025  LTC
2021-09-05 04:00:00  213.315  LTC
2021-09-05 05:00:00  214.445  LTC
2021-09-05 06:00:00  212.780  LTC
2021-09-05 07:00:00  214.420  LTC
2021-09-05 08:00:00  214.665  LTC
2021-09-05 09:00:00  218.265  LTC
2021-09-05 10:00:00  217.580  LTC
2021-09-05 11:00:00  216.050  LTC
2021-09-05 12:00:00  217.825  LTC
2021-09-05 13:00:00  221.620  LTC
2021-09-05 14:00:00  225.760  LTC
2021-09-05 15:00:00  226.080  LTC
2021-09-05 16:00:00  225.190  LTC
2021-09-05 17:00:00  226.525  LTC
2021-09-05 18:00:00  224.905  LTC
2021-09-05 19:00:00  224.615  LTC
2021-09-05 20:00:00  223.415  LTC
2021-09-05 21:00:00  225.300  LTC
2021-09-05 22:00:00  226.090  LTC

In [9]:
aave = requests.get('https://ftx.com/api/markets/AAVE/USD/candles?resolution=3600').json()
aave = pd.DataFrame(aave['result'])
aave.drop(['startTime'], axis = 1, inplace=True)
aave['time'] = pd.to_datetime(aave['time'], unit='ms')
aave.set_index('time', inplace=True)
aave_df = aave.drop(['high', 'low', 'close', 'volume'],axis=1)
aave_df['aave'] = 'AAVE'
aave_df.rename(columns ={'open':'aaveopen'},inplace=True)
aave_df.head(20)

                     aaveopen  aave
time
2021-09-05 03:00:00    401.88  AAVE
2021-09-05 04:00:00    397.07  AAVE
2021-09-05 05:00:00    400.24  AAVE
2021-09-05 06:00:00    399.00  AAVE
2021-09-05 07:00:00    404.06  AAVE
2021-09-05 08:00:00    412.43  AAVE
2021-09-05 09:00:00    419.55  AAVE
2021-09-05 10:00:00    421.76  AAVE
2021-09-05 11:00:00    420.28  AAVE
2021-09-05 12:00:00    420.99  AAVE
2021-09-05 13:00:00    424.69  AAVE
2021-09-05 14:00:00    421.09  AAVE
2021-09-05 15:00:00    418.96  AAVE
2021-09-05 16:00:00    415.52  AAVE
2021-09-05 17:00:00    418.10  AAVE
2021-09-05 18:00:00    423.46  AAVE
2021-09-05 19:00:00    420.08  AAVE
2021-09-05 20:00:00    417.03  AAVE
2021-09-05 21:00:00    421.69  AAVE
2021-09-05 22:00:00    419.87  AAVE

In [26]:
crypto_df = [btc_df,eth_df,sol_df,doge_df,aave_df,link_df,ltc_df, shib_df]
d3_data = pd.concat(crypto_df, axis=1)
d3_data.reset_index(level=0, inplace=True)
d3_data.head()

,time,btcopen,btc,ethopen,eth,solopen,sol,dogeopen,doge,aaveopen,aave,linkopen,link,ltcopen,ltc,shibopen,shib
0,2021-09-05 03:00:00,50155.0,BTC,3892.9,ETH,142.6675,SOL,0.301922,DOGE,401.88,AAVE,30.0505,LINK,217.025,LTC,0.000007,SHIB
1,2021-09-05 04:00:00,49709.0,BTC,3846.9,ETH,140.6500,SOL,0.298138,DOGE,397.07,AAVE,29.6075,LINK,213.315,LTC,0.000007,SHIB
2,2021-09-05 05:00:00,49878.0,BTC,3873.8,ETH,141.1475,SOL,0.299744,DOGE,400.24,AAVE,30.0340,LINK,214.445,LTC,0.000007,SHIB
3,2021-09-05 06:00:00,49728.0,BTC,3863.9,ETH,139.3000,SOL,0.298626,DOGE,399.00,AAVE,30.0205,LINK,212.780,LTC,0.000007,SHIB
4,2021-09-05 07:00:00,49910.0,BTC,3877.7,ETH,139.8600,SOL,0.299320,DOGE,404.06,AAVE,30.1720,LINK,214.420,LTC,0.000007,SHIB

In [27]:
pd.set_option('display.max_rows', None)

In [28]:
d3_data.to_csv("../cleanData/coindata.csv", index=False, header=True)

In [13]:
btc_pearsonr = btc_df.btcopen
eth_pearsonr = eth_df.ethopen
correlation1 = st.pearsonr(btc_pearsonr, eth_pearsonr)
print(f"The correlation between eth/btc is {round(correlation1[0],2)}")
link_pearsonr = link_df.linkopen
corr2 = st.pearsonr(btc_pearsonr, link_pearsonr)
print(f"The correlation between link/btc is {round(corr2[0],2)}")
shib_pearsonr = shib_df.shibopen
corr2 = st.pearsonr(btc_pearsonr, shib_pearsonr)
print(f"The correlation between shib/btc is {round(corr2[0],2)}")
doge_pearsonr = doge_df.dogeopen
corr2 = st.pearsonr(btc_pearsonr, doge_pearsonr)
print(f"The correlation between doge/btc is {round(corr2[0],2)}")
aave_pearsonr = aave_df.aaveopen
corr2 = st.pearsonr(btc_pearsonr, aave_pearsonr)
print(f"The correlation between aave/btc is {round(corr2[0],2)}")
sol_pearsonr = sol_df.solopen
corr2 = st.pearsonr(btc_pearsonr, sol_pearsonr)
print(f"The correlation between sol/btc is {round(corr2[0],2)}")

The correlation between eth/btc is 0.9
The correlation between link/btc is 0.56
The correlation between shib/btc is 0.8
The correlation between doge/btc is 0.59
The correlation between aave/btc is 0.07
The correlation between sol/btc is 0.63